/* RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


img {
	max-width: 100%;
    
}

a {
	text-decoration: none;
	color: currentColor;
}

menu,
ul,
ol {
	list-style: none;
}



/* LAYOUT */

.webapp{
    height: calc(100vh - 50px);
    color: white;
    display: flex;
}



/* Header */

.header-column{
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
}


.header-menu-list{
    height: 90%;
   
}

.header-title{
    height: 10%;
}


.header-profile-link{
    height: 10%;
    display: flex;
    align-items: end;
    padding-left: 20px;
}

.header-menu-list .list{
    list-style: disc;
    padding-left: 30px;
}




/* Main */



.main-column{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}



/* Main logo section */

.logo-section{
    background-color: rgb(35, 37, 43);
    display: flex;
    justify-content: flex-end;
    height: 50px;
    align-items: center;
}


.button-subscribe{
    border: none;
    border-radius: 999px;
    padding: 0 25px;
    height: 35px;
    margin-right: 20px;
    font-weight: 700;
   
}





/* Content section row songs*/


.content-section{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
}


.content-section-row-songs h1{
    padding: 30px;
}


.container-titles div img{
    width: 150px;
}

.container-titles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.container-titles div{
    width: 500px;
    padding-bottom: 40px;
    padding-top: 20px;
    
}


.container-titles div figcaption{
    padding: 10px 0;
}




/* Content section row album */


.content-section-row-album h1{
    padding-left: 30px;
    padding-bottom: 20px;
}

.content-section-row-album .list{
    list-style: disc;
    padding-left: 70px;
    padding-top: 30px;
}

.content-section-row-album p{
    padding: 0 30px;
    
}





.content-section{
    background-color: rgb(20, 25, 35);
    color: white;
}


/* Footer */


footer{
    height: 50px;
    width: 100%;
    background-color: rgb(40, 40, 40);
    color: white;
}

.footer-row{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    
}









