/* RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
}

menu,
ul,
ol {
	list-style: none;
}



/* LAYOUT */


.webapp{
    height: 95vh;
    color: white;
    display: flex;
}

.header-column{
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-column{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}



/* Main logo section */

.logo-section{
    background-color: rgb(70, 106, 192);
    display: flex;
    justify-content: flex-end;
    height: 5%;
    align-items: center;
}


.button-subscribe{
    border: none;
    border-radius: 999px;
    padding: 0 25px;
    height: 35px;
    margin-right: 20px;
    font-weight: 700;
   
}



.content-section{
    height: 95%;
}





footer{
    height: 5vh;
    width: 100%;
}










/* DEBUG */


.debug header{
    background-color: black;
    
}

.debug main{
    background-color: rgb(20, 25, 35);
    color: white;

}

footer{
    background-color: orange;
   
}