/* RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
}

menu,
ul,
ol {
	list-style: none;
}



/* LAYOUT */


/* Header */

.header-column{
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
}


.header-menu-list{
    height: 90%;
   
}

.header-title{
    height: 10%;
}


.header-profile-link{
    height: 10%;
    display: flex;
    align-items: end;
    padding-left: 20px;
}

.header-menu-list .list{
    list-style: disc;
    padding-left: 30px;
}


.webapp{
    height: calc(100vh - 50px);
    color: white;
    display: flex;
}






.main-column{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}









/* Main logo section */

.logo-section{
    background-color: rgb(70, 106, 192);
    display: flex;
    justify-content: flex-end;
    height: 50px;
    align-items: center;
}


.button-subscribe{
    border: none;
    border-radius: 999px;
    padding: 0 25px;
    height: 35px;
    margin-right: 20px;
    font-weight: 700;
   
}








.content-section{
    height: calc(100% - 50px);
}





footer{
    height: 50px;
    width: 100%;
}










/* DEBUG */


/* .debug header{
    background-color: black;
    
} */

.debug main{
    background-color: rgb(20, 25, 35);
    color: white;

}

footer{
    background-color: orange;
   
}